{% extends 'blog.html.twig' %}

{% block title %}Nouvelle poutine : La Flibustière !{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="white">
            <div class="row">
                <div class="col-md-6 offset-md-2">
                    <h2>Nouvelle poutine : La Flibustière !</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-5">
                    <img src="{{ asset('img/flibustiere/poutine.jpg') }}" alt="" class="img-fluid imgBlog">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p class="blogText">
                        <b>Nouvelle poutine : La Flibustière !</b>
                        <br>
                        Chers amateurs de poutines !…
                        <br>
                        Une toute nouvelle recette arrive aujourd’hui en Poutine du Moment à La Maison de la Poutine : la poutine Flibustière !
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-5">
                    <img src="{{ asset('img/flibustiere/poutine2.jpg') }}" alt="" class="img-fluid imgBlog">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p class="blogText">
                        La Flibustière, c’est notre sauce à Poutine, du poulet boucané, des bananes plantains séchées, une sauce créole et de la ciboulette. Encore une recette exclusive de notre chef Erwan créée et pensée pour les beaux jours.
                        <br><br>
                        En parlant de beaux jours, quelques nouveautés :
                        <br><br>
                        nous aurons dès la semaine prochaine la possibilité d’ouvrir la verrière de notre salle de restaurant, pour laisser le doux air printanier vous caresser le visage pendant votre déjeuner.
                        <br>
                        Nous lançons dès aujourd’hui une formule « Dej » : la boisson classique (Coca, Coca Zero, jus d’orange, Evian ou San Pelegrino) offerte avec votre poutine. N’est-ce pas merveilleux ? Si, ça l’est.
                        <br><br>
                        À tout à l’heure au 11 rue Mandar !
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
