{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3>Nos poutines</h3>
        <table class="table menuDescTitle">
            <thhead>
                <tr>
                    <td></td>
                    <td>Seule</td>
                    <td>+ boisson</td>
                    <td>+ dessert</td>
                    <td>+ boisson et dessert</td>
                </tr>
            </thhead>
            <tbody>
            <tr>
                <td>
                    <b class="menuTitle">LA POUTINE ROMAINE</b> <br>
                    Notre sauce à Poutine, Suprême de volaille, Lard croustillant, Tomates confites, Parmesan, Sucrine et Croûtons.
                </td>
                <td>13€</td>
                <td>15€</td>
                <td>16€</td>
                <td>18€</td>
            </tr>
            <tr>
                <td>
                    <b class="menuTitle">LA POUTINE MONTRÉAL</b> <br>
                    Notre sauce à Poutine.
                </td>
                <td>9€</td>
                <td>11€</td>
                <td>12€</td>
                <td>14€</td>
            </tr>
            <tr>
                <td>
                    <b class="menuTitle">LA POUTINE MONTRÉAL VÉGÉ</b> <br>
                    Notre sauce à Poutine aux légumes, Pickles d’oignons rouges et Piment d’Espelette.
                </td>
                <td>9€</td>
                <td>11€</td>
                <td>12€</td>
                <td>14€</td>
            </tr>
            <tr>
                <td>
                    <b class="menuTitle">LA POUTINE LÉGUMEUSE D’ÉTÉ</b> <br>
                    Notre sauce à Poutine aux légumes, Haricots verts, Petits pois, Pois gourmands, Pousses d'épinard, Salade d'herbes et Noix de pécan.
                </td>
                <td>11.5€</td>
                <td>13.5€</td>
                <td>14€</td>
                <td>16.5€</td>
            </tr>
            <tr>
                <td>
                    <b class="menuTitle">LA POUTINE BUCHERONNE</b> <br>
                    Notre sauce à Poutine, Lard, Oignons caramélisés, Moutarde en grain et Oignons frits croustillants.
                </td>
                <td>11.5€</td>
                <td>13.5€</td>
                <td>14.5€</td>
                <td>16.5€</td>
            </tr>
            <tr>
                <td>
                    <b class="menuTitle">LA POUTINE COQUETTE</b> <br>
                    Notre sauce à Poutine, Émincé de volaille snackée et Sarrasin.
                </td>
                <td>11.5€</td>
                <td>13.5€</td>
                <td>14.5€</td>
                <td>16.5€</td>
            </tr>
            <tr>
                <td>
                    <b class="menuTitle">LA POUTINE RELEVÉE</b> <br>
                    Notre sauce à Poutine et Boeuf mijoté aux épices chili.
                </td>
                <td>11.5€</td>
                <td>13.5€</td>
                <td>14.5€</td>
                <td>16.5€</td>
            </tr>
            <tr>
                <td>
                    <b class="menuTitle">LA BONNE CONSCIENCE</b>
                </td>
                <td>9€</td>
                <td>11€</td>
                <td>12€</td>
                <td>14€</td>
            </tr>
            </tbody>
        </table>

        <br>

        <h3>Boissons</h3>
        <table class="table menuDescTitle">
            <thead>
            <tr>
                <td></td>
                <td>Prix</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b class="menuTitle">Classiques</b> <br>
                    Coca Cola, Coca Cola Zero, Canada Dry, Minute Maid orange, Evian et S.Pellegrino.
                </td>
                <td>2.5€</td>
            </tr>
            <tr>
                <td><b class="menuTitle">Supérieures</b> <br>
                    Arizona Blueberry White Tea, Bundaberg Ginger Beer (sans alcool), Bière Budweiser.
                </td>
                <td>4.5€</td>
            </tr>
            <tr>
                <td><b class="menuTitle">Importées</b> <br>
                    Blonde de Chambly, La fin du Monde, Blanche de Chambly, 1642 - Cola, 1642 - Ginger.
                </td>
                <td>5.5€</td>
            </tr>
            </tbody>
        </table>

        <br>

        <h3>Desserts</h3>
        <table class="table menuDescTitle">
            <thead>
            <tr>
                <td></td>
                <td>Prix</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b class="menuTitle">La crémeuse - Spéculoos</b></td>
                <td>4.5€</td>
            </tr>
            <tr>
                <td><b class="menuTitle">La crémeuse - Oréo</b></td>
                <td>4.5€</td>
            </tr>
            <tr>
                <td><b class="menuTitle">La crémeuse - Nutella Petit Beurre</b></td>
                <td>4.5€</td>
            </tr>
            <tr>
                <td><b class="menuTitle">Fromage blanc 0% au bleuet & Granola</b></td>
                <td>4.5€</td>
            </tr>
            <tr>
                <td><b class="menuTitle">Salade de fruits frais supérieurs au sirop d’érable</b></td>
                <td>4.5€</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
