{% extends 'blog.html.twig' %}

{% block title %}Le retour de la Tabarnak !{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="white">
            <div class="row">
                <div class="col-md-6 offset-md-2">
                    <h2>Le retour de la Tabarnak !</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-5">
                    <img src="{{ asset('img/tabarnak/poutine.jpg') }}" alt="" class="img-fluid imgBlog">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p class="blogText">
                        <b>Le retour de la Tabarnak !</b>
                        <br>
                        <br>
                        Message pour la Société Secrète Des Fans de la Poutine Tabarnak : « I’m back! »
                        <br><br>
                        Vous la connaissez déjà par coeur mais on vous redonne la recette pour le plaisir :
                        <br>
                        des frites maison
                        <br>
                        de la bonne sauce à poutine secrète
                        <br>
                        du fromage en grain
                        <br>
                        de l’effiloché de porc au sirop d’érable
                        <br>
                        du pop-corn
                        <br><br>
                        TA-DAAAA !
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-5">
                    <img src="{{ asset('img/tabarnak/poutine2.jpg') }}" alt="" class="img-fluid imgBlog">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p class="blogText">
                        Vous ne le saviez peut-être pas mais il est désormais possible de déguster vos poutines jusqu’à 23h30 le vendredi et le samedi. On a pensé à votre bonheur 😉
                        <br><br>
                        Et pour faire venir notre restaurant du 11 rue Mandar (75002 Paris) jusqu’à vous, n’hésitez pas à commander votre Poutine Tabarnak directement sur notre page
                        <a href="https://www.ubereats.com/fr-FR/paris/food-delivery/la-maison-de-la-poutine/hK4tj3sWRreHzMP0klxSIg/" target="_blank">Uber Eats!</a>
                    </p>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}
