body{
  background-color: #ffcc3f;
}
.container-fluid{
  h2, h3{
    color: #024e7f;
    margin-left: 5px;
  }
  .blogText{
    color: #024e7f;
    text-align: left;
    margin-left: 10px;
  }
  .imgBlog{
    width: 80%;
    margin-left: 10px;
  }
  .white{
    background: white;
    width: 70%;
    margin: auto;
  }
}